<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Codebreaker 2018 web version">
    <meta name="author" content="Vladislav Trotsenko">
    <title>404 Error - Page not found</title>
  </head>

  <body class="text-center">
    404 Error - Page not found
  </body>

</html>