<a class="btn btn-success btn-lg float-right" href="<%= Web::SCORES_URL %>" role="button">
  <%= message['form']['submit']['top_start'] %> 
  <%= Web::TOTAL_PLAYERS %> 
  <%= message['form']['submit']['top_end'] %>
</a>