<p class="small text-white geminfo">
  <%= message['copyrights']['geminfo'] %> codebreaker2018 <a href="https://badge.fury.io/rb/codebreaker2018" target="_blank"><img src="https://badge.fury.io/rb/codebreaker2018.svg" alt="Gem Version" height="18"></a>
</p>
